body {
  height: 100%;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
}

h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  font-size: 20px;
}

h1 {
  color: white;
  font-size: 35px;
}

.button-style {
  font-weight: 600;
  font-size: larger;
  color: whitesmoke;
  text-decoration: none;
  background: rgb(247, 91, 91);
  padding: 10px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.button-style:hover {
  color: #ffffff !important;
  background: red;
  border-color: whitesmoke;
  transition: all 0.4s ease 0s;
  box-shadow: 0px 3px 5px rgb(231, 112, 112);
}

a {
  color: ivory;
  font-size: 20px;
}
.alignment {
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  line-height: 10px;
  text-align: center;
}

.alignment > img {
  box-shadow: 0px 3px 15px rgb(216, 203, 203);
}

.search-alignment {
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  padding-top: 10px;
}

.landing {
  text-align: center;
  color: white;
}